/* src/pages/faq/faqDetailPage.module.css */
:root {
  --main-blue: #4b94d0;
  --main-bg: #f8f5ed;
  --main-dark: #3d3833;
  --main-accent: #ef770c;
  --card-bg: #fff;
  --border-radius: 18px;
  --shadow: 0 4px 24px rgba(0, 0, 0, 0.07);
}
body {
  font-family: "Noto Sans KR", sans-serif;
  background: var(--main-bg);
  color: var(--main-dark);
  margin: 0;
  min-height: 100vh;
}

.container {
  padding: 80px 20px 20px 20px;
  max-width: 800px;
  margin: 0 auto;
}

.pageTitle {
  font-size: 2rem;
  font-weight: 800;
  color: var(--main-blue);
  margin-bottom: 30px;
  text-align: center;
}

.card {
  background: var(--card-bg);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 20px 16px 20px 40px;
  margin: 0;
  width: 100%;
  list-style: none;
  table-layout: fixed;
  border-collapse: collapse;
  overflow: hidden;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
}

.meta {
  color: #666666d0;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.content {
  margin-bottom: 1.5rem;
}

.buttonGroup button:not(.closeButton) {
  background: var(--main-blue);
  color: #fff;
  border: none;
  padding: 5px 13px;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
  margin-left: 8px;
}
.buttonGroup button:hover {
  background: var(--main-accent);
}

.closeButton {
  background-color: #ff4d4f;
  color: white;
  font-size: 1rem;
  padding: 5px 13px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  transition: background-color 0.2s;
}

.closeButton:hover {
  background-color: #d9363e;
}

.ment {
  font-size: 0.8rem;
  color: #777;
  font-weight: 400;
  font-style: normal;
  opacity: 0.9;
}

.loading,
.error {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 50px;
  color: #555;
}
